/* checkboxes in MDL cards START */
.checkboxes .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
}
.checkboxes ul {
    list-style-type: none;
}
.checkboxes .mdl-card__actions {
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/* checkboxes in MDL cards END */

/* water-saving tips START */
.mdl-card.water-tips {
    background-color: var(--theme-color);
    background-image: url("/images/water-tips.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mdl-card.water-tips .mdl-card__title {
    height: 200px;
}
/* water-saving tips END */
